@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

html {
  font-family:  "Open Sans", sans-serif; 
}

body {
  width: 100vw;
  margin: 0;
}

.welcome, .footer {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #090a36;
  min-height: 100vh;
}

.welcome::after, footer::after {
  content: "";
  position: absolute;
  background-color: #090a36;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.9;

}

.welcome__container, .footer__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.welcome__logo_icon, 
.footer__logo, 
.footer__logo_icon_bottom {
  position: relative;
  display: block;
  z-index: 2;
}

.footer__logo {
  background: linear-gradient(180deg, #5e3db3, #3d2976);

}

.welcome__title, .footer__title {
  position: relative;
  color: #ffffff;
  z-index: 2;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.footer__title_second {
  color: #5e3db3;
}

.welcome__buttons, .footer__buttons {
  text-align: center;
  margin-top: auto;
}

.buttons {
  padding: 0;
  position: relative;
  z-index: 2;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  background-color: #573fae;
  border-radius: 40px; 
}

.button__structure {
  font-size: 0;
}


.button__icon {
  display: inline-block;
  vertical-align: middle;
}

.button__text {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  font-family: "Open Sans";
  text-transform: uppercase; 
  vertical-align: middle;
}

.first_line {
  margin: 0;
  font-weight: 400;
}

.second_line {
  margin: 0;
  font-weight: 700;
}

.section {
  position: relative;
  z-index: 1;
}

.section__header {
  background-color: #ffffff;
}

.section__title {
  color: #e7e7e7;
  font-weight: 700;
  text-transform: uppercase;
}

.section__image {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.img__hint {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
}

.section__article:nth-child(2) {
  background-color: #fafafa;
}


.section__article:nth-child(3) {
  background-color: #f5f4f9;
}

.section:first-child .section__article:nth-child(4) {
  background-color: #5e3db3;
}

.section:nth-child(2) .section__article:nth-child(4) {
  background-color: #090a36;
}

.section__article_header {
  display: flex;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
}

.section__article_title {
  position: relative;
  color: #c1c1c1;
}

.section__article_title::before {
  content: "01";
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  color: #000000;
  vertical-align: top;
}

.section__article:nth-child(3) .section__article_title::before {
  content: "02";
}

.section__article:nth-child(4) .section__article_title::before {
  content: "03";
}

.section:nth-child(2) .section__article:nth-child(4) .section__article_title::before {
  color: #5e3db3;
}

.section__article_title::after {
  position: absolute;
  display: block;
  content: "";
  margin: 0;
  background-color: #5e3db3;
  margin-right: auto;
  left: 0;
}


.section__article_body {
  color: #000000;
}

p {
  margin: 0;
}

.section__article:nth-child(4) .section__article_body {
  color: #ffffff;
}

.section__article:nth-child(4) .section__article_title::after {
  background-color: #ffffff;
}

.aside__article_image_preview {
  display: block;
}

.aside__article_title {
  font-weight: 700;
  text-transform: uppercase;
  color: #c1c1c1;
  margin: 0;
}

.aside__article_title::before {
  position: absolute;
  content: "01";
  background-color: #5e3db3;
  z-index: 2;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.aside__article:nth-child(2) .aside__article_title::before {
  content: "02";
}

.aside__article:nth-child(3) .aside__article_title::before {
  content: "03";
}

.aside__article_title::after {
  position: absolute;
  display: block;
  content: "";
  margin: 0;
  background-color: #ffffff;
  z-index: 2;
}

.aside__article_body {
  font-size: 16px;
  line-height: 20px;
}


@media (max-width: 640px) {
  
  .welcome {
    background-image: url("../images/football_767.jpg");
  }

  .footer {
    background-image: url("../images/game_767.jpg");
  }

  .welcome__container {
    padding: 5.6vh 6.25vw 14.3vh;
  }

  .welcome__logo_icon,
  .footer__logo_icon_bottom  {
    width: 41.5vw;
    height: 11.25vw;
  }

  .welcome__logo_icon {
    margin: 0 auto 22.8vh;
  }

  .welcome__title_first,  .welcome__title_second {
    display: inline-block;
    font-size: 8.75vw;
    line-height: 11.25vw;
    margin-bottom: 2.5vh;
  }
  
  .welcome__title_second {
    margin-left: 14vw;
  }

  .button {
    width: 88vw;
    max-width: 280px;
    padding: 0.88vh 0;
    margin-bottom: 2.4vh;
    box-shadow: 1vw 2vh 3vh 0 #090c35;
  }

  .button:active {
    box-shadow: 1vh 1vh 2vh 0 #090c35;
  }

  .button:last-child {
    margin-bottom: 0;
  }

  .button__structure {
    text-align: left;
    margin-left: calc(50% - 54px);
  }

  .button__icon {
    width: 24px;
    height: 24px;
  }

  .button__text {
    font-size: 8px;
    text-align: left;
    padding-left: 8px;
  }
  .section__image {
    background-image: url("../images/footballer_566.png");
    background-position: left 22vw top 80px;
    background-size: 54vw 87.5vw;
  }
  
  .section:nth-child(2) .section__image {
    background-image: url("../images/basketballer_991.png");
    background-position: left 3.2vw top 25vw;
    background-size: 95vw 79vw;
  }

  .section__article:nth-child(2) {
    padding: calc(17vw + 20px) 6.25vw 50px;
  }
  
  .section__article {
    padding: 54px 6.25vw 50px;
  }
  
  .section__title {
    font-size: 50px;
    line-height: 60px;
    padding: 3vw 0 73.4vw 6.25vw;
    margin: 0;
  }

  .section__article_title {
    font-size: 23px;
    line-height: 28px;
    margin: 0 0 24px 0;
  }

  .section__article_title::before {
    font-size: 14px;
    line-height: 16px;
    padding-right: 3vw;
    padding-top: 1vw;
  }

  .section__article_title::after {
    width: 16px;
    height: 4px;
    top: calc(1.6vw + 15px);
  }

  .section__article_body {
    font-size: 15px;
    line-height: 18px;
  }

  .aside__article_image_preview {
    max-width: 100%;
  }


  .aside__article_content {
    padding-left: 6.25vw;
    padding-right: 6.25vw;
    margin-bottom: 78px;
  }

  .aside__article_title {
    position: relative;
    font-size: 28px;
    line-height: 36px;
    padding-top: 30px;
    margin-bottom: 20px;
  }

  .aside__article_title::before {
    font-size: 14px;
    line-height: 18px;
    padding: 8vw;
    top: -17vw;
    left: 0;
  }

  .aside__article_title::after {
    width: 16px;
    height: 4px;
    top: calc(-6.5vw + 18px/2);
    left: 8vw;
  }

  .aside__article_body {
    font-size: 16px;
    line-height: 20px;
  } 

  .footer__container {
    padding: 17.4vh 6.25vw 1.6vh;
  }

  .footer__header {
    text-align: center;
  }



  .footer__logo {
    margin: 0 auto 10vh;
    padding: 4vw 2.5vw;
    border-radius: 4.7vw;
    display: inline-block;

  }

  .footer__logo_icon {
    width: 18.7vw;
    height: 15vw;
    display: block;

  }

  .footer__title_first {
    font-size: 10vw;
    margin: 0 0 1vh 0;
    line-height: 11vw;
    text-align: center;

  }
  
  .footer__title_second {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    line-height: 18px;
    text-align: center;
  }

  .footer__logo_icon_bottom {
    margin: 14.4vh auto 0;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  
  .welcome {
    background-image: url("../images/football_1280.jpg");
  }

  .footer {
    background-image: url("../images/game_1280.jpg");
  }

  .welcome__container {
    padding: 3.75vh 7vw 9.4vh;
  }

  .welcome__logo_icon,
  .footer__logo_icon_bottom  {
    width: 26.6vw;
    height: 7.4vw;
  }

  .welcome__logo_icon {
    margin: 0 auto 18.8vh;
    width: 206px;
    height: 55px;
  }

  .welcome__title {
    font-size: 64px;
    line-height: 78px;
  }

  .welcome__title_first,  .welcome__title_second {
    display: inline-block;
    margin: 0;
  }

  .welcome__title_first {
    margin-left: 4.8vw;
  }

  .welcome__title_second {
    margin-left: 19vw;
  }

  .button {
    display: inline-block;
  }

  .button {
    width: 40vw;
    padding: 19px 0;
    box-shadow: 3vw 3vh 3vh 0 #090c35;
  }

  .button:active {
    box-shadow: 3vh 2vh 2vh 0 #090c35;
  }

  .button:nth-child(n+2) {
    margin-left: 23px;
  }

  .button__structure {
    text-align: center;
  }

  .button__icon {
    width: 40px;
    height: 40px;
  }

  .button__text {
    text-align: left;
    font-size: 14px;
    padding-left: 2vw;
  }

  .section__image {
    background-image: url("../images/footballer_566.png");
    background-position: right 65vw top 12vw ;
    background-size: 55vw 91.5vw;
  }
  
  .section:nth-child(2) .section__image {
    background-image: url("../images/basketballer_991.png");
    background-position: left 44vw top 5.2vw;
    background-size: 88vw 73vw;
  }

  .section:nth-child(1) .section__article {
    padding: 5.2vw 4.2vw 5vw 38vw;
  }

  .section:nth-child(2) .section__article {
    padding: 5.2vw 43vw 5vw 4.1vw;
  }

  .section__title {
    font-size: 80px;
    line-height: 100px;
    padding: 8.4vw 0 0 38vw;
    margin: 0;
  }

  .section:nth-child(1) .section__title {
    padding: 8.4vw 0 0 38vw;
  }

  .section:nth-child(2) .section__title{
    padding: 8.4vw 0 0 4.1vw ;
  }

  .section__article_title {
    font-size: 32px;
    line-height: 38px;
    margin: 0 0 3.3vw 0;
  }

  .section__article_title::before {
    font-size: 18px;
    line-height: 22px;
    padding-top: 0.5vw;
    padding-right: 3vw;
  }

  .section__article_title::after {
    width: 20px;
    height: 5px;
    top: 25px;
  }

  .section__article_body {
    font-size: 16px;
    line-height: 28px;
  }

  .aside__article_image_preview {
    max-width: 100%;
  }


  .aside__article_content {
    padding-left: 4.1vw;
    padding-right: 4.1vw;
    margin-bottom: 14.3vw;
  }

  .aside__article_title {
    position: relative;
    font-size: 80px;
    line-height: 100px;
    padding-top: 7.8vw;
    margin-bottom: 1.6vw;
  }

  .aside__article_title::before {
    font-size: 24px;
    line-height: 28px;
    padding: 5.6vw;
    top: -11.7vw;
    left: 0;
  }

  .aside__article_title::after {
    width: 24px;
    height: 5px;
    top: calc(-4vw + 24px/2);
    left: 5.8vw;
  }

  .aside__article_body {
    font-size: 24px;
    line-height: 28px;
  } 

  .footer__container {
    padding: 13vh 4.1vw 2.5vh;
  }

  .footer__header {
    text-align: center;
  }


  .footer__logo {
    margin: 0 auto 10vh;
    padding: 3.1vw 1.7vw;
    border-radius: 3.4vw;
    display: inline-block;

  }

  .footer__logo_icon {
    width: 13.2vw;
    height: 11vw;
    display: block;
  }

  .footer__title_first {
    font-size: 80px;
    margin: 0 0 1vh 0;
    line-height: 100px;
    text-align: center;

  }
  
  .footer__title_second {
    font-size: 36px;
    font-weight: 400;
    margin: 0;
    line-height: 46px;
    text-align: center;
  }

  .footer__logo_icon_bottom {
    margin: 5.6vh auto 0;
  }
}


@media (min-width: 961px) {
  
  .welcome {
    background-image: url("../images/football_1920.jpg");
  }

  .footer {
    background-image: url("../images/game_1920.jpg");
  }

  .welcome__container {
    padding: 4.7vh 9.2vw 11.3vh;
  }

  .welcome__logo_icon,
  .footer__logo_icon_bottom  {
    width: 10vw;
    height: 2.3vw;
  }

  .welcome__logo_icon {
    margin: 0 auto 31vh;
  }

  .welcome__title {
    font-size: 4.9vw;
    line-height: 5.7vw;
  }


  .welcome__title_first,  .welcome__title_second {
    display: inline-block;
    margin: 0;
  }
  
  .welcome__title_second {
    margin-left: 21.5vw;
  }

  .buttons {
    margin: 0;
    text-align: center;
  }

  .button {
    display: inline-block;
    width: 311px;
    padding: 15px 0 ;
    box-shadow: 1.5vw 4vh 3vh 0 #090c35;
  }

  .button:active {
    box-shadow: 1.5vh 3vh 2vh 0 #090c35;
  }

  .button:nth-child(n+2) {
    margin-left: 43px;
  }

  .button__structure {
    text-align: center;
  }

  .button__icon {
    width: 50px;
    height: 50px;
  }

  .button__text {
    text-align: left;
    font-size: 14px;
    padding-left: 25px;
  }

  main {
    position: relative;
  }

  .section:first-child {
    position: static;
  }

  .section__image {
    background-image: url("../images/footballer_566.png");
    background-position: right 50vw top 1.4vw ;
    background-size: 29.4vw 47.2vw ;
  }
  
  .section:nth-child(2) .section__image {
    background-image: url("../images/basketballer_991.png");
    background-position: left 42.6vw top 1.4vw;
    background-size: 51.2vw 42.1vw;
  }


  .section__title {
    font-size: 80px;
    line-height: 100px;
    margin: 0;
  }

  .section:nth-child(1) .section__title {
    padding: 6vw 0 1vw 52vw;
  }

  .section:nth-child(2) .section__title{
    padding: 6vw 0 1vw 9.4vw ;
  }


  .section:nth-child(1) .section__article {
    padding: 56px 9.4vw 56px 52vw;
  }

  .section:nth-child(2) .section__article {
    padding: 56px 52vw 56px 9.4vw;
  }

  .section__article_title {
    font-size: 36px;
    line-height: 42px;
    margin: 0 0 1.2vw 0;
  }

  .section__article_title::before {
    font-size: 18px;
    line-height: 22px;
    padding-top: 0.3vw;
    padding-right: 0.6vw;
  }

  .section__article_title::after {
    width: 20px;
    height: 5px;
    top: 25px;
  }

  .aside__article {
    display: flex;
    align-items: center;
  }


  .aside__article_image_preview {
    max-width: 50vw;
  }

  .aside__article:nth-child(even) .aside__article_image {
    order: 2;
  }

  .section__article_body {
    font-size: 20px;
    line-height: 28px;
  }

  .aside__article_content {
    box-sizing: border-box;
    width: 50vw;
    padding: 5vw 6vw 5vw 9.2vw;
  }

  .aside__article:nth-child(even) .aside__article_content {
    padding: 5vw 9.2vw 5vw 6vw;
  }

  .aside__article_title {
    position: relative;
    font-size: 4.2vw;
    line-height: 5vw;
    margin-bottom: 3vw;
  }

  .aside__article_title::before {
    font-size: 24px;
    line-height: 28px;
    padding: 3.6vw;
    left: calc(-9.2vw - (3.6vw + 14px));
  }

  .aside__article:nth-child(even) .aside__article_title::before {
    left: calc(44vw - (3.6vw + 14px));
    
  }

  .aside__article_title::after {
    width: 28px;
    height: 5px;
    left: calc(-9.2vw - 14px);
    top: calc(3.6vw + 28px);
  }

  .aside__article:nth-child(even) .aside__article_title::after {
    left: calc(44vw - 14px);
    top: calc(3.6vw + 28px);
  }

  .aside__article_body {
    font-size: 24px;
    line-height: 28px;
  } 

  .footer__container {
    padding: 13vh 4.1vw 2.5vh;
  }

  .footer__header {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__logo {
    margin-right: 2vw;
    padding: 1.2vw 0.7vw 1.2vw;
    border-radius: 2vw;
  }

  .footer__logo_icon {
    width: 5.4vw;
    height: 4.5vw;
    display: block;
  }

  .footer__title_first {
    font-size: 4vw;
    margin: 0;
    line-height: 5vw;
    text-align: left;
  }
  
  .footer__title_second {
    font-size: 1.5vw;
    font-weight: 400;
    margin: 0;
    line-height: 1.8;
    text-align: left;
  }

  .footer__buttons {
    margin-bottom: auto;
  }

  .footer__logo_icon_bottom {
    margin: 5.6vh auto 0;
  }
}


